architecture: standalone

auth:
  enabled: true
  password: redis_password_local

master:
  persistence:
    size: 1Gi
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi

metrics:
  enabled: true
