apiVersion: v1
kind: Service
metadata:
  name: store-service
  namespace: store-platform
  labels:
    app: store-service
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: store-service
